/* 미디어 쿼리 */
@media (max-width: 1290px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
  #header .center .p1 {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 48px;
    color: white;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  #header .center .p1 {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 48px;
    color: white;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }
}
@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}
