/* 미디어 쿼리 */
@media (max-width: 960px) {
  #header .center .p1 {
    font-size: 24px;
    color: white;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 48px;
    color: white;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  #header .container {
    height: 920px;
  }

  #header .main_image {
    height: 920px;
  }

  #section .container {
    height: 920px;
  }

  #section2 .container {
    height: 920px;
  }

  #header .center .p1 {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  #header .wrap .logo img {
    width: 150px;
    height: auto;
    padding-top: 80px;
    padding-left: 100px;
  }

  #header .wrap .home a img {
    width: 38px;
    height: auto;
    padding-top: 5px;
    float: right;
  }

  #section .center p:first-child {
    padding-top: 180px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #section .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  #section .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  #section .map_image img {
    width: 500px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section .input1 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .center p:first-child {
    padding-top: 180px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #section2 .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  #section2 .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  #section2 .hos_image img {
    width: 500px;
    height: auto;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  #header .container {
    height: 920px;
  }

  #header .main_image {
    height: 920px;
  }

  #section .container {
    height: 920px;
  }

  #section2 .container {
    height: 920px;
  }

  #header .wrap .logo img {
    width: 150px;
    height: auto;
    padding-top: 80px;
    padding-left: 60px;
  }

  #header .wrap .home {
    padding-top: 80px;
    padding-right: 80px;
    float: right;
  }

  #header .center .p1 {
    font-size: 14px;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 36px;
    color: white;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  #section #icon .icon_1 img {
    width: 100px;
    position: absolute;
    left: 49%;
    top: 5px;
    margin-left: -180px;
    float: left;
  }

  #section #icon .icon_2 img {
    width: 100px;
    position: absolute;
    top: 5px;
    left: -5%;
    margin-left: 20px;
    float: left;
  }
  #section .center p:first-child {
    padding-top: 180px;
    font-size: 24px;
  }

  #section .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 14px;
  }

  #section .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 14px;
  }

  #section .map_image img {
    width: 450px;
    height: auto;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .pro_image img {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
  }

  #section2 .center p:first-child {
    padding-top: 180px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #section2 .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  #section2 .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  #section2 .hos_image img {
    width: 450px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .input1 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  #header .wrap .logo img {
    width: 120px;
    height: auto;
    padding-top: 80px;
    padding-left: 40px;
  }

  #header .wrap .home {
    padding-top: 80px;
    padding-right: 60px;
    float: right;
  }

  #header .wrap .home a img {
    width: 30px;
    height: auto;
  }

  #header .center .p1 {
    font-size: 14px;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 34px;
    color: white;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  #header .mouse img {
    width: 35px;
    height: auto;
  }

  #section #icon .icon_1 img {
    width: 100px;
    position: absolute;
    left: 49%;
    top: 5px;
    margin-left: -180px;
    float: left;
  }

  #section #icon .icon_2 img {
    width: 100px;
    position: absolute;
    top: 5px;
    left: -5%;
    margin-left: 20px;
    float: left;
  }
  #section .center p:first-child {
    padding-top: 180px;
    font-size: 24px;
  }

  #section .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 14px;
  }

  #section .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 14px;
  }

  #section .map_image img {
    width: 450px;
    height: auto;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .pro_image img {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
  }

  #section2 .center p:first-child {
    padding-top: 180px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #section2 .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  #section2 .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  #section2 .hos_image img {
    width: 450px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .input1 {
    position: absolute;
    top: 85%;
    left: 50%;
  }
}

@media (max-width: 320px) {
  #header .wrap .logo img {
    width: 120px;
    height: auto;
    padding-top: 80px;
    padding-left: 40px;
  }

  #header .wrap .home {
    padding-top: 80px;
    padding-right: 60px;
    float: right;
  }

  #header .wrap .home a img {
    width: 30px;
    height: auto;
  }

  #header .mouse img {
    width: 30px;
    height: auto;
  }

  #header .center .p1 {
    font-size: 18px;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  #header .center .p2 {
    font-size: 23px;
    color: white;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  #section #icon .icon_1 img {
    width: 80px;
    position: absolute;
    left: 55%;
    top: 5px;
    margin-left: -180px;
    float: left;
  }

  #section #icon .icon_2 img {
    width: 80px;
    position: absolute;
    top: 5px;
    left: -8%;
    margin-left: 20px;
    float: left;
  }

  #section .center p:first-child {
    padding-top: 180px;
    font-size: 18px;
  }

  #section .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 16px;
  }

  #section .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 16px;
  }

  #section .map_image img {
    width: 280px;
    height: auto;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section .input1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .pro_image img {
    width: 80px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
  }

  #section2 .center p:first-child {
    padding-top: 180px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #section2 .center p:nth-child(2) {
    padding-top: 30px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  #section2 .center p:nth-child(3) {
    padding-top: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  #section2 .hos_image img {
    width: 280px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section2 .input1 {
    position: absolute;
    top: 80%;
    left: 50%;
  }
}
